<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
    <li><a href="{{ url_for('product.home') }}">Главная</a></li>
    <li><a href="{{ url_for('misc.about') }}">О нас</a></li>
    <li><a href="{{ url_for('misc.cart') }}">Корзина</a></li>
    <li><a href="{{ url_for('misc.contact') }}">Контакты</a></li>
    <li><a href="{{ url_for('misc.support') }}">Поддержка</a></li>
    {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('profile.profile') }}">Личный кабинет</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Выйти</a></li>
    {% else %}
        <li><a href="{{ url_for('auth.login') }}">Войти</a></li>
        <li><a href="{{ url_for('auth.register') }}">Регистрация</a></li>
    {% endif %}
</ul>

    </nav>
    <div class="container">
        <!-- Отображение flash-сообщений -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>
