{% extends "base.html" %}
{% block content %}
<h1>Контакты</h1>

<div class="contact-info">
    <h2>Контактная информация</h2>
    <p>Номер телефона бухгалтерии: +7 (123) 456-78-90</p>
    <p>Следите за нами в социальных сетях:</p>
    <ul>
        <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
        <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
        <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
    </ul>
    <a href="{{ url_for('misc.support') }}">Обратиться в поддержку</a>
</div>
{% endblock %}
